.app:before {
  content: "slack-alike v0.1";
  text-align: center;
  display: block;

  background-color: bisque;
}

.form-group.has-error {
  color: #a94442;
}

.form-group.has-error .form-control {
  border-color: #ebcccc;
}
